{
	admin off
	persist_config off
	auto_https off

	log {
		format json
	}

	servers {
		trusted_proxies static private_ranges
	}
}

:{$PORT} {

	log {
		format json
	}

	# =========================
	# API
	# =========================
	handle {$BACKEND_PATH:/api}/* {
		reverse_proxy {
			to {$BACKEND_DOMAIN}:8080
			transport http {
				dial_timeout 30s
			}
		}
	}

	# =========================
	# FRONTEND
	# =========================
	handle {
		reverse_proxy {
			to {$FRONTEND_DOMAIN}:8080
			transport http {
				dial_timeout 30s
			}
		}
	}
}
