{
	admin off
	persist_config off
	auto_https off

	log {
		format json
	}

	servers {
		trusted_proxies static private_ranges
	}
}

:{$PORT} {

	log {
		format json
	}

	# =========================
	# API (backend)
	# =========================
	handle {$BACKEND_PATH:/api}/* {
		reverse_proxy http://{$BACKEND_DOMAIN}
	}

	# =========================
	# FRONTEND (catch-all)
	# =========================
	handle {
		reverse_proxy http://{$FRONTEND_DOMAIN}
	}
}
